<% content_for :title, "Recette " + @recipe.name.titleize + " | Trad'Food" %>
<% content_for :meta_description, @recipe.description %>
<% content_for :meta_image, @recipe.image %>

<article id="recipe" itemscope itemtype="http://schema.org/Article">
  <h1 itemprop="name"><%= @recipe.name.titleize %></h1>
  <a href="#" class="arrow left" rel="preview"></a>
  <div class="container" itemprop="mainEntityOfPage">
    <%= image_tag @recipe.image, :class => "logo__img column-center", :alt => @recipe.name.titleize, :itemprop => 'image' %>
    <div class="schema-tags">
      <div class="headline" itemprop="headline">
        <%= @recipe.name.titleize %>
      </div>
      <div class="description" itemprop="description">
        <%= @recipe.description %>
      </div>
      <div class="author" itemprop="author">
        TradFood
      </div>
      <div class="publisher" itemscope itemprop="publisher" itemtype="http://schema.org/Organization">
        <div itemprop="name">TradFood</div>
        <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
          <%= image_tag "https://tradfood.fr" + image_path('logo-orange.svg'), :itemprop => "url" %>
          <meta itemprop="width" content="750">
          <meta itemprop="height" content="170">
        </div>
      </div>
      <div class="datePublished" itemprop="datePublished">
        <%= @recipe.created_at %>
      </div>
      <div class="dateModified" itemprop="dateModified">
        <%= @recipe.updated_at %>
      </div>
    </div>
    <div class="right" itemprop="articleBody">
      <h2>Ingrédients</h2>
        <%= markdown(@recipe.ingredients) %>
      <hr>
      <h2>Recette</h2>
      <%= markdown(@recipe.recipe) %>
    </div>
  </div>
  <a href="#" class="arrow right" rel="next"></a>
</article>
