<p id="notice"><%= notice %></p>

<h1>Cities</h1>

<h2>Mises en avant</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Highlight</th>
      <th>Publish</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @highlightCities.each do |city| %>
      <tr>
        <td><%= city.name.titleize %></td>
        <td><%= city.description %></td>
        <td><%= city.highlight %></td>
        <td><%= city.publish %></td>
        <td><%= link_to 'Show', city_path(city.slug) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Toutes les villes</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Highlight</th>
      <th>Publish</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.name.titleize %></td>
        <td><%= city.description %></td>
        <td><%= city.highlight %></td>
        <td><%= city.publish %></td>
        <td><%= link_to 'Show', city_path(city.slug) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
