<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @city.name.titleize %>
</p>

<p>
  <strong>Description:</strong>
  <%= @city.description %>
</p>

<p>
  <strong>Highlight:</strong>
  <%= @city.highlight %>
</p>

<p>
  <strong>Publish:</strong>
  <%= @city.publish %>
</p>

<h1>Recipes</h1>

<ul>
  <% @recipes.each do |recipe| %>
    <li><%= link_to recipe.name.capitalize, recipe_path(slugify(@city.name), slugify(recipe.name)) %></li>
  <% end %>
</ul>

<%= link_to 'Back', cities_path %>
