<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @city.name.titleize %>
</p>

<p>
  <strong>Description:</strong>
  <%= @city.description %>
</p>

<p>
  <strong>Highlight:</strong>
  <%= @city.highlight %>
</p>

<p>
  <strong>Publish:</strong>
  <%= @city.publish %>
</p>

<h1>Recipes</h1>

<%= form_tag do %>
  <%= select_tag(:difficulty, options_for_select(filter_array['difficulty'], params[:difficulty].to_i ||= 'all')) %>
  <%= select_tag(:season, options_for_select(filter_array['season'], params[:season] ||= 'all')) %>
  <%= select_tag(:menu, options_for_select(filter_array['menu'], params[:menu] ||= 'all')) %>
  <%= submit_tag 'Rechercher' %>
<% end %>

<ul>
  <% @recipes.each do |recipe| %>
    <li><%= link_to recipe.name.capitalize, recipe_path(slugify(@city.name), slugify(recipe.name)) %></li>
  <% end %>
</ul>

<%= link_to 'Back', cities_path %>
