<% content_for :title, pageTitle = "Recettes sur " + @city.name.titleize %>
<% content_for :meta_description, @city.description %>
<% content_for :meta_image, @city.image %>

<p id="notice"><%= notice %></p>

<section class="city">
  <div class="head">
    <h1><%= pageTitle %></h1>
  </div>
  <div class="search">
    <%= form_tag(city_filter_url('bordeaux'), class: 'search-bar') do %>
      <div class="field for-type">
        <%= label_tag 'menu' , 'Menu' %>
        <%= select_tag(:menu, options_for_select(filter_array['menu'], params[:menu] ||= 'all')) %>
      </div>
      <div class="field for-type">
        <%= label_tag 'season' , 'Saison' %>
        <%= select_tag(:season, options_for_select(filter_array['season'], params[:season] ||= 'all')) %>
      </div>
      <div class="field for-type">
        <%= label_tag 'difficulty' , 'Difficulté' %>
        <%= select_tag(:difficulty, options_for_select(filter_array['difficulty'], params[:difficulty].to_i ||= 'all')) %>
      </div>
      <%= submit_tag 'Rechercher', class: 'button' %>
    <% end %>
  </div>
  <h2><%= @city.name.titleize %></h2>
  <div class="recipes">
    <div class="container">
      <% if @recipes %>
        <% @recipes.each do |recipe| %>
          <div class="card">
            <div class="content" style="background-image: url(<%= recipe.image %>)">
              <div class="infos">
                <h3><%= recipe.name.capitalize %></h3>
                <div class="details">
                  <span class="icon star"></span><b><%= difficulty?(recipe.difficulty) %></b>
                  <span class="icon leaf"></span><b><%= season?(recipe.season) %></b>
                  <span class="icon cook"></span><b><%= recipe.cooking_time.strftime('%kh%M') %></b>
                </div>
                <%= link_to 'Voir la recette', recipe_path(@city.slug, recipe.slug) %>
              </div>
            </div>
          </div>
        <% end %>
        <% else %>
          <h5>Aucun résultat</h5>
      <% end %>
    </div>
  </div>
</section>
