<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @city.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @city.description %>
</p>

<p>
  <strong>Highlight:</strong>
  <%= @city.highlight %>
</p>

<p>
  <strong>Publish:</strong>
  <%= @city.publish %>
</p>

<%= link_to 'Back', cities_path %>
