<footer>
  <div class="left">&copy;Trad'Food <%= Time.current.year %></div>
  <div class="right">
      <a href="/about">Conditions générales et confidentialité</a>
      <a href="https://www.facebook.com/tradfoodfr/" class="social-icons"><%= image_tag image_path('icons/facebook.svg') %></a>
      <a href="https://twitter.com/TradFood" class="social-icons"><%= image_tag image_path('icons/twitter.svg') %></a>
      <!-- <a href="#" class="social-icons"><%= image_tag image_path('icons/instagram.svg') %></a>
      <a href="#" class="social-icons"><%= image_tag image_path('icons/pinterest.svg') %></a> -->
  </div>
</footer>
