<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Trad'Food | Manger et cuisiner traditionnel à Bordeaux</title> -->
    <title><%= yield(:title) %></title>
    <meta name="description" content="Découvrez ou redécouvrez avec Trad'Food les meilleurs plats traditionnels de Bordeaux. Alliez l'utile à l'agréable avec nos recettes et nos conseils de vins">
    <meta name="keywords" content="Recettes,Cuisiner,Bordeaux,Gironde">

    <meta name="author" content="Bastien ROBERT">
    <!--[if IE]><%= favicon_link_tag 'favicon.ico' %><![endif]-->
    <%= favicon_link_tag 'favicon.png' %>

    <!-- Socials -->
    <% cardimage = image_path('logo-orange.svg') %>
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@tradfood">
    <meta name="twitter:title" content="<%= yield(:title) %>">
    <meta name="twitter:description" content="Découvrez avec Trad'Food les meilleurs plats traditionnels de Bordeaux.">
    <meta name="twitter:image" content="<%= cardimage %>">
    <meta name="twitter:image:alt" content="Trad'Food, les meilleurs plats traditionnels de Bordeaux">
    <!-- Facebook -->
    <meta property="og:title" content="<%= yield(:title) %>">
    <meta property="og:type" content="restaurant">
    <meta property="og:url" content="https://tradfood.fr/">
    <meta property="og:image" content="<%= cardimage %>">
    <meta property="og:description" content="Découvrez avec Trad'Food les meilleurs plats traditionnels de Bordeaux">
    <meta property="og:email" content="contact@tradfood.fr">
    <!-- End of Socials -->

    <!-- Apple touch -->
    <%= favicon_link_tag "Icon-App-228x228@3x.png",
                         rel: "apple-touch-icon",
                         sizes: "228x228",
                         type: "image/png" %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <!-- End of Apple touch -->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'layouts/partials/header' %>
    <%= yield %>
    <%= render partial: 'layouts/partials/footer' %>
  </body>
</html>
