<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= yield(:title) %></title>
    <meta name="description" content="<%= meta_description %>">
    <meta name="keywords" content="Recettes,Cuisiner,Bordeaux,Gironde">

    <meta name="author" content="Bastien ROBERT">
    <!--[if IE]><%= favicon_link_tag 'favicon.ico' %><![endif]-->
    <%= favicon_link_tag 'favicon.png' %>

    <!-- Socials -->
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= yield(:title) %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="@bastienrbt">
    <meta name="twitter:image" content="<%= meta_image %>">
    <meta name="twitter:image:alt" content="Trad'Food, les meilleurs plats traditionnels de Bordeaux">
    <!-- Facebook -->
    <meta property="og:title" content="<%= yield(:title) %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>">
    <meta property="og:description" content="<%= meta_description %>">
    <meta property="fb:app_id" content="217102868749055">
    <!-- End of Socials -->

    <!-- Apple touch -->
    <%= favicon_link_tag "Icon-App-228x228@3x.png",
                         rel: "apple-touch-icon",
                         sizes: "228x228",
                         type: "image/png" %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <!-- End of Apple touch -->

    <!-- AMP setup -->
    <link rel="canonical" href="<%= url_for(format: :html, only_path: false) %>" >
    <link rel="amphtml" href="<%= url_for(format: :amp, only_path: false) %>" >
    <% if Rails.application.assets && Rails.application.assets['amp/application'] %>
      <style amp-custom><%= Rails.application.assets['amp/application'].to_s.html_safe %></style>
    <% else %>
      <style amp-custom><%= File.read "#{Rails.root}/public#{stylesheet_path('amp/application', host: nil)}" %></style>
    <% end %>
    <!-- End of AMP setup -->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'layouts/partials/header' %>
    <%= yield %>
    <%= render partial: 'layouts/partials/footer' %>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-86803918-1', 'auto');
      ga('send', 'pageview');
    </script>

  </body>
</html>
